In [1]:
import sys
sys.path.append('..')
from anonymize.generalize import *

In [2]:
# Example dataframe
df = pd.DataFrame({
    'img': [1, 2, 3, 4, 5],
    'Label 1': ['foo', 'bar', 'cat', 'dog', 'eagle'],
    'Label 2': ['foo', 'bar', 'cat', 'dog', 'bird']
})

In [3]:
df

   img Label 1 Label 2
0    1     foo     foo
1    2     bar     bar
2    3     cat     cat
3    4     dog     dog
4    5   eagle    bird

In [4]:
generalize_categorical(df, [1, 2], ['cat', 'dog', 'bird', 'eagle'])

In [5]:
df

   img                  Label 1                  Label 2
0    1                      foo                      foo
1    2                      bar                      bar
2    3  (eagle, dog, bird, cat)  (eagle, dog, bird, cat)
3    4  (eagle, dog, bird, cat)  (eagle, dog, bird, cat)
4    5  (eagle, dog, bird, cat)  (eagle, dog, bird, cat)

In [6]:
users = {
    'user_id': [1, 2, 3, 4, 5],
    'age': [1.5, 4.3, 7.9, 15.8, 30.0],
    'income': [40000, 40000, 60000, 45000, 90000]
}

In [7]:
df = pd.DataFrame(users)

In [8]:
discretize(df, 1, 5.0)

In [9]:
df

   user_id           age  income
0        1    (0.0, 4.0)   40000
1        2    (0.0, 4.0)   40000
2        3    (5.0, 9.0)   60000
3        4  (15.0, 19.0)   45000
4        5  (30.0, 34.0)   90000