# Importing required libraries and setting path

In [15]:
import sdv # Synthetic data library
from sdv.metadata import SingleTableMetadata
#from sdv.datasets.local import load_csvs
from sdv.single_table import GaussianCopulaSynthesizer
import pandas as pd # For handling data as dataframes
import sys # Used for setting a path to find the dataset

sys.path.append('..') # Setting parent directory as current directory

# Data Preparation

In [14]:
#Load Dataset
adult = pd.read_csv("../datasets/adult/adult.data")  # load dataset, adjust if data is stored somewhere else

#Preparing Meta Data
adult_metadata = SingleTableMetadata() # Create blank meta data object
adult_metadata.detect_from_dataframe(adult) # Detect meta data

# Print Meta Data information
python_dict = adult_metadata.to_dict() # Convert to python dictionary
print("adult_metadata:\n", python_dict) # Print meta data

adult_metadata:
 {'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1', 'columns': {'39': {'sdtype': 'numerical'}, ' State-gov': {'sdtype': 'administrative_unit', 'pii': True}, ' 77516': {'sdtype': 'numerical'}, ' Bachelors': {'sdtype': 'categorical'}, ' 13': {'sdtype': 'numerical'}, ' Never-married': {'sdtype': 'categorical'}, ' Adm-clerical': {'sdtype': 'categorical'}, ' Not-in-family': {'sdtype': 'categorical'}, ' White': {'sdtype': 'categorical'}, ' Male': {'sdtype': 'categorical'}, ' 2174': {'sdtype': 'numerical'}, ' 0': {'sdtype': 'numerical'}, ' 40': {'sdtype': 'numerical'}, ' United-States': {'sdtype': 'categorical'}, ' <=50K': {'sdtype': 'categorical'}}}

# Modeling

In [21]:
# Step 1: Create synthesitzer object
synthesizer = GaussianCopulaSynthesizer(adult_metadata)

# Step 2: Train the synthesizer
synthesizer.fit(adult)

# Step 3: Generate synthetic data
synthetic_data = synthesizer.sample(1000)

# Print synthetic data
print(adult)
print(synthetic_data)
synthetic_data.to_csv('../../../datasets/adult/synthetic_adult.data', index=False)

       39          State-gov   77516    Bachelors   13        Never-married  \
0      50   Self-emp-not-inc   83311    Bachelors   13   Married-civ-spouse
1      38            Private  215646      HS-grad    9             Divorced
2      53            Private  234721         11th    7   Married-civ-spouse
3      28            Private  338409    Bachelors   13   Married-civ-spouse
4      37            Private  284582      Masters   14   Married-civ-spouse
...    ..                ...     ...          ...  ...                  ...
32555  27            Private  257302   Assoc-acdm   12   Married-civ-spouse
32556  40            Private  154374      HS-grad    9   Married-civ-spouse
32557  58            Private  151910      HS-grad    9              Widowed
32558  22            Private  201490      HS-grad    9        Never-married
32559  52       Self-emp-inc  287927      HS-grad    9   Married-civ-spouse

             Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0         Exec-managerial         Husband   White     Male      0   0   13
1       Handlers-cleaners   Not-in-family   White     Male      0   0   40
2       Handlers-cleaners         Husband   Black     Male      0   0   40
3          Prof-specialty            Wife   Black   Female      0   0   40
4         Exec-managerial            Wife   White   Female      0   0   40
...                   ...             ...     ...      ...    ...  ..  ...
32555        Tech-support            Wife   White   Female      0   0   38
32556   Machine-op-inspct         Husband   White     Male      0   0   40
32557        Adm-clerical       Unmarried   White   Female      0   0   40
32558        Adm-clerical       Own-child   White     Male      0   0   20
32559     Exec-managerial            Wife   White   Female  15024   0   40

        United-States   <=50K
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3                Cuba   <=50K
4       United-States   <=50K
...               ...     ...
32555   United-States   <=50K
32556   United-States    >50K
32557   United-States   <=50K
32558   United-States   <=50K
32559   United-States    >50K

[32560 rows x 15 columns]
     39       State-gov   77516      Bachelors   13        Never-married  \
0    46        Virginia  170074   Some-college    8   Married-civ-spouse
1    51        New York  199763   Some-college   10             Divorced
2    62          Oregon   99579      Bachelors   12        Never-married
3    44           Maine  104695    Prof-school    8   Married-civ-spouse
4    31        Missouri  242219           10th    9        Never-married
..   ..             ...     ...            ...  ...                  ...
995  22          Hawaii  234495        HS-grad    9        Never-married
996  50  South Carolina  168545        HS-grad    8        Never-married
997  27        Nebraska  283842        HS-grad   10              Widowed
998  36        Arkansas  314281           11th    7        Never-married
999  36        Colorado   99145      Bachelors   11             Divorced

           Adm-clerical    Not-in-family   White     Male   2174   0   40  \
0         Other-service          Husband   White   Female  64530  47   43
1     Handlers-cleaners             Wife   White     Male   8900   0   36
2                 Sales          Husband   White   Female  27840   1   37
3     Machine-op-inspct    Not-in-family   White     Male  11402   3   41
4        Prof-specialty        Unmarried   White   Female  32507   0   49
..                  ...              ...     ...      ...    ...  ..  ...
995        Adm-clerical        Unmarried   Black     Male  41333   0   44
996      Prof-specialty          Husband   White     Male  44761   0   46
997   Handlers-cleaners   Other-relative   Black   Female  20637  55   23
998    Transport-moving        Own-child   White     Male   2683  62   29
999        Craft-repair             Wife   White   Female  55833   0   16

      United-States   <=50K
0     United-States   <=50K
1     United-States   <=50K
2     United-States   <=50K
3     United-States   <=50K
4     United-States   <=50K
..              ...     ...
995   United-States    >50K
996   United-States   <=50K
997   United-States   <=50K
998   United-States   <=50K
999   United-States    >50K

[1000 rows x 15 columns]